body{
    font-size: 1.2rem;
}

#quadrado{
    width: 50px;
    height: 50px;
    background-color: blue;
    /* margin: auto; */ /* Centraliza automaticamente o elemento */
    margin-left: auto;
}

img{
    width: 150px;
    /* margin: auto; */
    margin-left: auto;
    /* Imagem é por padrão display: inline e ocupa a linha inteira*/
    display: block; 
    /* Não funciona se o display for inline-block */
    /* display: inline-block;  */
}