* {
    margin: 0;
    /* padding: 0; */
}

:root {
    /* Variables */
    --var-color: blue;
    --square-size: 250px;
}

.container {
    padding: 10px;
    background-color: darkslategray;
    /* height: 1000px; */
    /* width: 400px; */
    color: azure;
    font-size: 25px;
    display: grid;
    /* grid-template-areas:    "a2 a2 a2 a2 a2 a2"
                            "a1 a1 a5 a3 a3 a3"
                            "a1 a1 a5 a4 a4 a4"
                            "a6 a6 a6 a6 a6 a6" */

                            grid-template: auto auto auto auto / auto auto auto auto auto auto;
}

.r1 {
    background-color: black;
}


.r2 {
    background-color: red;
}


.r3 {
    background-color: yellow;
    color: black;
}

.item1{
    /* grid-area: a1; */
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
.item2{
    /* grid-area: a2; */
    grid-column-start: 1;
    grid-column-end: 7;
}
.item3{
    /* grid-area: a3; */
    /* grid-column-start: 3; */
    /* grid-column-end: 7; */
    grid-column-end: span 4;
}
.item4{
    /* grid-area: a4; */
    grid-column-start: 4;
    grid-column-end: 7;
}
.item5{
    /* grid-area: a5; */
    grid-column-start: 3;
    grid-row-start: 3;
}
.item6{
    /* grid-area: a6; */
    /* grid-column-start: 1;
    grid-column-end: 7; */
    grid-column-end: span 6;
}