#p1{
    font-size: 25px;
    color: blue;
}

.paragrafo{
    font-size: 15px;
    font-family: cursive;
    color: red;
}

span{
    display: none;
}

#button{
    /* display: inline-block; */
    padding: 20px;
    font-size: 2rem;
    background-color: blue;
    color: white;
    width: 100px;
    height: 35px;
    text-align: center;
    margin: 15px;
}

img{
    width: 100px;
}