:root{
    font-family: cursive;
    font-size: 20px;
}

@keyframes changeColor {
    0% {
        background-color: yellow;
        width: 250px;
    }

    25% {
        background-color: black;
        /* width: 350px; */
    }
    
    50% {
        background-color: red;
        width: 750px;
    }
    
    75% {
        background-color: black;
        /* background-color: blue; */
        /* width: 750px; */
    }
    
    100% {
        background-color: yellow;
        width: 250px;
    }
}

@keyframes move{
    0%{
        left: 0px;
    }
    100%{
        left: 700px
    }
}

.box {
    position: relative;
    width: 150px;
    height: 150px;
    border-style: solid;
    /* animation-name: changeColor; */
    /* animation-name: move; */
    /* animation-duration: 6000ms; */
    /* animation-delay: 1000ms; */
    /* animation-delay: -2500ms; */
    /* animation-iteration-count: infinite; */
    /* animation-direction: reverse; */
    /* animation-direction: alternate; */
    /* animation-direction: alternate-reverse; */
    /* animation-iteration-count: 3; */
    /* animation-fill-mode: forwards; */
    /* animation-fill-mode: backwards; */
    /* animation-fill-mode: forwards; */

    animation: move 6s linear 0s 1 normal forwards;
}

.div1{
    color: azure;
    background-color: black;
    animation-timing-function: linear;
}

.div2{
    background-color: red;
    animation-timing-function: ease;
}

.div3{
    background-color: yellow;
    animation-timing-function: ease-in;
}

.div4{
    background-color: violet;
    animation-timing-function: ease-out;
}
.div5{
    background-color: darkorange;
    animation-timing-function: ease-in-out;
}