@keyframes changeColor {
    0% {
        background-color: yellow;
        width: 250px;
    }

    25% {
        background-color: black;
        /* width: 350px; */
    }
    
    50% {
        background-color: red;
        width: 750px;
    }
    
    75% {
        background-color: black;
        /* background-color: blue; */
        /* width: 750px; */
    }
    
    100% {
        background-color: yellow;
        width: 250px;
    }
}


.box {
    width: 250px;
    height: 250px;
    border-style: solid;
    animation-name: changeColor;
    animation-duration: 6000ms;
    animation-delay: 1000ms;
    /* animation-delay: -2500ms; */
    /* animation-iteration-count: infinite; */
    /* animation-direction: reverse; */
    /* animation-direction: alternate; */
    /* animation-direction: alternate-reverse; */
    /* animation-iteration-count: 3; */
    /* animation-fill-mode: forwards; */
    /* animation-fill-mode: backwards; */
    animation-fill-mode: both;
}